A:link {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
A:visited {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: black;
  background: none;
}
A:hover {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: white;
  background: #6d9ec6;
}
.notes {
  padding-top: 1em;
  padding-left: 10px;
}
.notes a {
  font-family: Arial, Helvetica;
  font-size: 10px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
  color: blue;
}
.notes a:hover {
  font-weight: bold;
  text-decoration: underline;
  background: initial;
}
.notes pre {
  font-family: Arial, Helvetica;
  font-size: 10px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
}
.sujet_principal {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-weight:bold;
  text-decoration: underline;
  font-size: large;
}
tr.ligne_sujet > td:first-child > div:first-of-type > div:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  text-decoration: underline;  
}
tr.ligne_sous_sujet > td {
  padding-bottom: 1em;
}
tr.ligne_sous_sujet > td:first-child {
  padding-left: 20px;
}
tr.ligne_sous_sujet > td:first-child  > div:first-of-type > div:first-of-type {
  font-weight: bold;
  font-style: italic;
}
.attachment {
  padding-left: 10px;
}
.attachment a:link {
  font-weight: normal;
  font-size: 12px;
  color: #6d9ec6;
  background: white;
}
.attachment a:hover {
  font-weight: normal;
  text-decoration: underline;
  font-size: 12px;
  color: #6d9ec6;
  background: white;
}
.attachment a:visited {
  font-weight: normal;
  font-size: 12px;
  background: white;
  color: gray;
}
td.header {
  background: #dddddd;
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom:1px;
  border-bottom: solid black 2px;
}
/* td.cell {
  margin: 0;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom:1px;
} */
h5.header {
  margin-left: 2px;
  margin-top: 2px;
}
TD {
  font-size: 12px;
  color: black;
  font-style: normal;
  font-family: Arial, Helvetica, Geneva, sans-serif;
}
UL {
  font-size: 12px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
}
LI {
  font-size: 12px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
}
H1 {
  font-weight: bold;
  font-size: 16pt;
  color: #6d9ec6;
}
H2 {
  font-weight: bold;
  font-size: 16pt;
  color: #000000;
}
H3 {
  font-weight: bold;
  font-size: 13pt;
  color: #6d9ec6;
}
H4 {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}
H5 {
  font-weight: bold;
  font-size: 10pt;
  color: #6d9ec6;
}
H6 {
  font-weight: bold;
  font-size: 10pt;
  color: #000000;
}
div.project_name {
  font-size: 150%;
  color: black;
  font-weight: bold;
  border-top: solid #6d9ec6 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}
div.page_links {
  background: #6d9ec6;
  text-align: center;
}
